
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Blog | Nova{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="{{asset('nova/css/bootstrap.min.css',absolute=true)}}">
    <link rel="stylesheet" href="{{asset('nova/css/font-awesome.min.css',absolute=true)}}">

</head>

<body>
{% block body %}

{% endblock body %}
<script src="{{asset('nova/js/vendor/jquery-1.9.1.min.js',absolute=true)}}"></script>
<script src="{{asset('nova/js/vendor/bootstrap.min.js',absolute=true)}}"></script>

</body>
</html>
