{% extends "FrontBundle::layout.html.twig" %}

{% block kiri %}
<div class="span8">
    <div class="blog">
        <div class="blog-item well">
			{% include "FOSUserBundle:Registration:register_content.html.twig" %}
		</div>
	</div>
</div>
{% endblock %}
