
<!DOCTYPE html>
<html>
<head>
<title>CV of Radumta Sitepu</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{{asset('resume/style.css')}}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
    <div class="mainDetails">
        <div id="headshot" class="quickFade">
            <img src="{{asset('resume/jobstreet.jpg')}}" alt="Radumta Sitepu" />
        </div>
        
        <div id="name">
            <h2 class="quickFade delayTwo">Radumta Sitepu</h2>
        </div>
        
        <div id="contactDetails" class="quickFade delayFour">
            <ul>
                <li><a href="mailto:radumta@gmail.com" target="_blank">radumta@gmail.com</a></li>
                <li>081260014478</li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
    
    <div id="mainArea" class="quickFade delayFive">
        <section>
            <article>
                <div class="sectionTitle">
                    <h1>Personal Profile</h1>
                </div>
                
                <div class="sectionContent">
                    <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer dolor metus, interdum at scelerisque in, porta at lacus. Maecenas dapibus luctus cursus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
                </div>
            </article>
            <div class="clear"></div>
        </section>
        
        
        <section>
            <div class="sectionTitle">
                <h1>Work Experience</h1>
            </div>
            
            <div class="sectionContent">
                <article>
                    <h2>Seeking For My First Job</h2>

                </article>
            </div>
            <div class="clear"></div>
        </section>
        
        
        <section>
            <div class="sectionTitle">
                <h1>Skills</h1>
            </div>
            
            <div class="sectionContent">
                <article>
                    <h2>Advanced Skill</h2><hr/>
                        <ul class="keySkills">
                            <li>PHP</li>
                            <li>Mysql</li>
                            <li>Javascript</li>
                            <li>Jquery</li>
                            <li>Bootstrap</li>
                            <li>AJAX</li>
                            <li>Symfony2 Framework</li>
                            <li>Visual Basic .Net</li>
                            <li>Microsoft SQL</li>
                        </ul>
                </article>
                <article>
                    <h2>Intermediate Skill</h2><hr/>
        
                        <ul class="keySkills">
                            <li>Laravel</li>
                            <li>Git</li>
                            <li>Code Igniter</li>
                        </ul>

                </article>
            </div>
            <div class="clear"></div>
        </section>
        
        
        <section>
            <div class="sectionTitle">
                <h1>Education</h1>
            </div>
            
            <div class="sectionContent">
                <article>
                    <h3>STMIK-STIE MIKROSKIL MEDAN</h3>
                    <p class="subDetails">Bachelor's Degree (2008-2014)</p>
                </article>
                <br/>
                <article>
                    <h3>SMAN 1 Onanrunggu</h3>
                    <p class="subDetails">Qualification (2004-2005)</p>
                </article>
                <br/>
                <article>
                    <h3>SMA Budi Murni 1 Medan</h3>
                    <p class="subDetails">Qualification (2002-2004)</p>
                </article>
                <br/>
                <article>
                    <h3>SMPN 1 Nainggolan</h3>
                    <p class="subDetails">Qualification (1999-2002)</p>
                </article>
                <br/>
                <article>
                    <h3>SDN Inpres Pangaloan</h3>
                    <p class="subDetails">Qualification (1993-1999)</p>
                </article>
                <br/>
            </div>
            <div class="clear"></div>
        </section>
        <section>
            <div class="sectionTitle">
                <h1>Certificate</h1>
            </div>
            
            <div class="sectionContent">
                <article>
                    <h2>Bachelor's Degree</h2>
                    <p class="subDetails"></p>
                    <img src="{{asset('resume/ijajah.jpg')}}" width="100%">
                </article>
                
                <article>
                    <p class="subDetails">Academic Transcript</p>
                    <img src="{{asset('resume/ipk.jpg')}}" width="100%">
                </article>
            </div>
            <div class="clear"></div>
        </section>
        
    </div>
</div>
</body>
</html>