<div class="widget widget-popular">
    <h3>Recent Posts</h3>
    <div class="widget-blog-items">
    {% for entity in entity %}
        <div class="widget-blog-item media">
            <div class="pull-left">
                <div class="date">
                    <span class="month">{{entity.createAt|date('M')}}</span>
                    <span class="day">{{entity.createAt|date('d')}}</span>
                </div>
            </div>
            <div class="media-body">
                <a href="{{url('blog_show',{ 'slug': entity.slug })}}"><h5>{{entity.judul}}</h5></a>
            </div>
        </div>
    {% endfor %}
    </div>                        
</div>